@page
@model ServiceProject3.Pages.Account.IndexModel
@{
}
@if (User.IsInRole("Provider"))
{
    <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/service_1_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Services/Index" class="titlex_a">Services</a></h1>
                <h3 class="valuex">@Model.Service.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/requested_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingServices/Index" class="titlex_a">Requested</a></h1>
                <h3 class="valuex">@Model.PendngServices.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/loading_64px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingServices/Pending" class="titlex_a">Progress</a></h1>
                <h3 class="valuex">@Model.ProviderProgress.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/completed_48px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingServices/Completed" class="titlex_a">Completed</a></h1>
                <h3 class="valuex">@Model.ProviderCompleted.Count()</h3>
            </div>
        </div>
    </div>
    // Provider   Materials Started
    <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="/vectors/product_50px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Materials/Index" class="titlex_a">Materials</a></h1>
                <h3 class="valuex">@Model.Materials.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/requested_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingMaterials/Index" class="titlex_a">Requested</a></h1>
                <h3 class="valuex">@Model.ProviderRequestedMaterials.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/transit_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingMaterials/Pending" class="titlex_a">InTransit</a></h1>
                <h3 class="valuex">@Model.ProviderTransitMaterials.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/delivered_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./PendingMaterials/Completed" class="titlex_a">Delivered</a></h1>
                <h3 class="valuex">@Model.ProviderDeliveredMaterials.Count()</h3>
            </div>
        </div>
    </div>
    // Provider   Materials  Ended
}
@if (User.IsInRole("Seeker"))
{
    <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/requested_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Services/Index" class="titlex_a">Requested</a></h1>
                <h3 class="valuex">@Model.PendingServicesSeeker.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/loading_64px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Services/Progress" class="titlex_a">Progress</a></h1>
                <h3 class="valuex">@Model.ApprovedServicesSeeker.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/completed_48px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Services/Completed" class="titlex_a">History</a></h1>
                <h3 class="valuex">@Model.CompletedServicesSeeker.Count()</h3>
            </div>
        </div>
        @*        <div class="cardx">
            <div class="vectorx">
            <img src="students.png" alt="">
            </div>
            <div class="contentx">
            <h1 class="titlex"> Title</h1>
            <h3 class="valuex">124</h3>
            </div>
            </div>*@
    </div>
    // Matertial Seeker Start
    <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/cart_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Materials/Index" class="titlex_a">RequestedM</a></h1>
                <h3 class="valuex">@Model.PendingMaterialsSeeker.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/transit_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Materials/Progress" class="titlex_a">InTransit</a></h1>
                <h3 class="valuex">@Model.ApprovedMaterialsSeeker.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/delivered_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Seeker/Materials/Completed" class="titlex_a">Delivered</a></h1>
                <h3 class="valuex">@Model.CompletedMaterialsSeeker.Count()</h3>
            </div>
        </div>
    </div>
    // Matertial Seeker End
}

@if (User.IsInRole("Rider"))
{

    // Matertial Seeker Start
    <div class="card_containerx">
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/cart_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Rider/Index" class="titlex_a">All Materials</a></h1>
                <h3 class="valuex">@Model.RiderAllMaterials.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/transit_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Rider/InTransit" class="titlex_a">InTransit</a></h1>
                <h3 class="valuex">@Model.RiderPickUpMaterials.Count()</h3>
            </div>
        </div>
        <div class="cardx">
            <div class="vectorx">
                <img src="~/vectors/delivered_60px.png" alt="">
            </div>
            <div class="contentx">
                <h1 class="titlex"><a asp-page="./Rider/History" class="titlex_a">Delivered</a></h1>
                <h3 class="valuex">@Model.RiderDeliveredMaterials.Count()</h3>
            </div>
        </div>
    </div>
    // Matertial Seeker End
}
<style>
    @@media screen and (max-width: 536px) {
        .card_containerx {
            justify-content: center;
            /*background-color: aqua;*/
            padding: 0px;
        }
    }

    .card_containerx {
        display: flex;
        /* background-color: aqua   ; */
        align-items: center;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        padding: 20px 15px;
        align-items: center;
    }

    .cardx {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        width: 230px;
        height: 130px;
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

        .cardx:hover {
            background-color: rgb(0 0 0 / 10%);
        }

    .vectorx {
        margin-top: 30px;
        margin-left: 8px;
        margin-right: 6px;
        margin-bottom: 30px;
        flex: 0.1;
    }

    .contentx {
        margin-top: 30px;
        /* margin-bottom: 30px; */
        flex: 0.7;
    }

    .titlex {
        color: #444;
        font-size: 150% !important;
        text-decoration: none;
    }

    .titlex_a {
        color: #444;
        font-size: 100% !important;
    }

        .titlex_a:hover {
            text-decoration: none;
        }

    .valuex {
        color: #999;
        font-size: 130% !important;
    }
</style>