@page
@model ServiceProject3.Pages.Account.Materials.ManageSubCatePrices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialSubCatePrice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialSubCatePrice.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialSubCatePrice.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialSubCatePrice.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialSubCatePrice.Material.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialSubCatePrice.MaterialSubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialSubCatePrice.MaterialSubCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaterialSubCatePrice.Id">Edit</a> |
    <a asp-page="./Index ">Back to List</a>
</div>
