@page
@model ServiceProject3.Pages.Account.Seeker.Materials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Requested Materials</h1>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.MaterialBought[0].Material)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MaterialBought[0].Material.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialBought[0].Material.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialBought[0].Address)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.ServiceBought[0].ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceBought[0].CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceBought[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceBought[0].Review)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaterialBought) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Material.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>*@
            <td>
                @*<a asp-page="./Complete" asp-route-id="@item.Id">Mark Complete</a>*@
@*                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
